/*
Colour Palette Reference:
- Background Main: #FAFAF8
- Background Section: #EFEDE6
- Background Card: #D5CFC3
- Text Primary: #676663
- Text Muted: #A1998F

Font Reference:
- Primary Font: 'Roboto Flex', system-ui, -apple-system, sans-serif

*/

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fafaf8;
  color: #676663;
  font-family: "Roboto Flex", system-ui, -apple-system, sans-serif;
  line-height: 1.65;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: #676663;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
  text-decoration-color: #fafaf8;
}

a:hover {
  text-decoration-color: #676663;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 10px 10px;
  margin: 0;
}

header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 30px;
  height: auto;
}

p {
  margin: 0;
  color: #676663;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 700;
}

.laptop {
  height: auto;
  width: 400px;
  height: 266px;
}

section {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #676663;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.intro {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}
